html, body {
    font: normal 83% Arial, Calibri, sans-serif;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-repeat: repeat;
    margin: 0;
}

font {
    line-height: 1.55em;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: hand;
}



tbody {
    display: table-row-group;
    vertical-align: middle;
}

tr {
    display: table-row;
    vertical-align: middle;
}

td {
    display: table-cell;
    vertical-align: middle;
}
